<section id="book_page">
  <div>
    <img src="/images/{{book.filename}}" alt="book image" width="300">
  </div>
  <div>
    <h2>{{book.title}}</h2>
    <h3>{{book.author}}</h3>
    <h4>Synopsis</h4>
    <p>{{book.synopsis}}</p>
    <h4>Why Banned</h4>
    <p>{{book.whyBanned}}</p><br />
    <h4>Reviews</h4>
      {{#each book.reviews}}
        {{review}}
      {{/each}}
  </div>
</section>